  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .nutrition-box {
    width: 1000px;
    border: 3px solid #000;
    padding: 12px 18px 18px;
    font-size: 16px;
    line-height: 1.2;
  }

  .left-section {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
  }

  .right-section {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }

  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }

  h2 {
    margin: 0 0 14px 0;
    font-size: 36px;
    font-weight: 700;
  }

  .serving-info {
    margin-top: 10px;
    font-size: 20px;
  }

  .calories {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 6px;
  }

  .definition {
    font-size: 14px;
  }

  .dv-header {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 3px solid #000;
  }

  .nutrient-block {
    margin-top: 10px;
  }

  .nut-row {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
  }

  .nut-left {
    font-weight: 700;
  }

  .nut-sub {
    padding-left: 20px;
    font-weight: 400;
  }

  .divider {
    border-top: 3px solid #000;
    margin: 6px 0;
  }

  .footnote {
    margin-top: 14px;
    font-size: 16px;
  }
